<form class="p-fluid grid p-4">
  <div class="field w-full">
    <p-fieldset legend="معلومات كذائية" [toggleable]="true">
      <div class="p-fluid grid p-2">
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <input type="text" id="name" pInputText />
            <label for="name">الإسم</label>
          </span>
        </div>
        <div class="field col-12 md:col-4">
          <span class="p-float-label">
            <p-autoComplete
              [(ngModel)]="majorInputValue"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="onMajorInputValueChange()"
              [suggestions]="(filteredMajors$ | async)!"
              (on)="onSelectMajor()"
              [forceSelection]="false"
              field="name"
              [multiple]="true"></p-autoComplete>
            <label for="major">المجال العلمي</label>
          </span>
        </div>
      </div>
    </p-fieldset>
  </div>

  <div class="field w-full">
    <p-fieldset legend="الولادة والوفاة" [toggleable]="true" togg>
      <div class="field col">
        <div class="p-fluid grid">
          <div class="field col-2">
            <span class="p-float-label">
              <p-inputNumber id="day" [min]="1" [max]="31"></p-inputNumber>
              <label for="day">يوم</label>
            </span>
          </div>
          <div class="field col-2">
            <span class="p-float-label">
              <p-inputNumber id="month" [min]="1" [max]="12"></p-inputNumber>
              <label for="month">شهر</label>
            </span>
          </div>
          <div class="field col-2">
            <span class="p-float-label">
              <p-inputNumber id="year" [min]="1" [max]="9999"></p-inputNumber>
              <label for="year">سنة</label>
            </span>
          </div>
          <div class="field col-3">
            <span class="p-float-label">
              <p-inputNumber
                id="percentage"
                [min]="1"
                [max]="100"
                prefix="%"></p-inputNumber>
              <label for="percentage">نسبة التأكد</label>
            </span>
          </div>
          <div class="field col-3" dir="ltr">
            <p-selectButton
              [options]="[
                { label: 'ب.م', value: 'AC' },
                { label: 'ق.م', value: 'BC' }
              ]"
              optionLabel="label"
              optionValue="value"></p-selectButton>
          </div>
        </div>
        <div class="p-fluid grid">
          <div class="field col-4" dir="ltr">
            <p-selectButton
              [options]="[
                { label: 'وفاة', value: 'death' },
                { label: 'ولادة', value: 'birth' }
              ]"
              optionLabel="label"
              optionValue="value"></p-selectButton>
          </div>
          <div class="field col-2 text-center">
            <button class="justify-content-center p-button-success" pButton>
              إضافة
            </button>
          </div>
        </div>
      </div>
      <div class="field col">
        <table class="w-full text-center border-1">
          <thead>
            <tr>
              <th>ولادة</th>
              <th>وفاة</th>
            </tr>
          </thead>
        </table>
      </div>
    </p-fieldset>
  </div>
</form>

<p-divider align="center">
  <span class="text-lg">إعدادات</span>
</p-divider>
